body {
	background-image: url("../images/washi/washi.png");

}

.header-container {
	margin: 10px auto 40px auto;
	width:50%;
	background-color:#FFFFFF;
	padding:10px;
	border-radius: 5%;
	border-style: dotted;
	border-color:#000000;

}

.header{
	font-family: barlow condensed, sans-serif;
	font-size:60px;
	text-align: center;
	color:#71E548;
	font-weight: bolder;
}

.instruction-container {
	width:100%;
	background-color:#FFFFFF;
	padding:10px;
	border-radius: 5%;
	border-style: dotted;
	border-color:#000000;
}

.game-container {
	width:100%;
	background-color:#FFFFFF;
	padding:10px;
	border-radius: 5%;
	border-style: dotted;
	border-color:#000000;

}

.control-container {
	width:100%;
	background-color:#FFFFFF;
	margin-top: 40px;
	padding:10px;
	border-radius: 5%;
	border-style: dotted;
	border-color:#000000;
	justify-content: center;

}

.goal-container {
	width:100%;
	margin:auto;
	text-align: center;
}

.count-container {
	width:100%;
	margin:auto;
	text-align: center;
}

.counters{
	width:100px;
	height:100px;
	background-color: #FFFFFF;
	margin:auto;
	text-align: center;
}

.crystal {
	margin:20px;
}

footer {
	
	justify-content: center;
	background-color:#71E548;
	padding:25px;
	margin-top:40px;
}

h2 {

	font-family: barlow condensed, sans-serif;
	font-size: 40px;
	color:#E838A1;
	padding:10px;
	text-align: center;

}

h3 {
	font-family: barlow consensed, sans-serif;
	font-size:25px;
	color:#F2A63C;

}

p {
	font-family: barlow condensed, sans-serif;
	color:#439EF7;
}

#losses, #wins, #total-count, #goalnumber {
	font-family: barlow consensed, sans-serif;
	color:#439EF7;
	font-size: 30px;

}



