body {
	background-image: url("../images/washi/washi.png");

}

.jumbotron {
	width:100%;
	height:50px;
	background-color:#FFFFFF;

}


.instruction-container {
	width:100%;
	background-color:#FFFFFF;
	padding:10px;
	border-radius: 5%;
	border-style: dotted;
	border-color:#000000;
}

.game-container {
	width:100%;
	background-color:#FFFFFF;
	padding:10px;
	border-radius: 5%;
	border-style: dotted;
	border-color:#000000;

}

.control-container {
	width:100%;
	background-color:#FFFFFF;
	margin-top: 50px;
	padding:10px;
	border-radius: 5%;
	border-style: dotted;
	border-color:#000000;
	justify-content: center;

}

.goal-number {
	width:100px;
	height:100px;
	background-color:purple;
	margin:5px;
}

.total-score {
	width:100px;
	height: 100px;
	background-color:green;
	margin:5px;

}

.counters{
	width:100px;
	height:100px;
	background-color: #FFFFFF;
	margin:5px;
}

.crystal {
	margin:20px;
}

footer {
	justify-content: center;
	background-color:;

}

.header{
	font-family: barlow condensed, sans-serif;
	font-size:100px;
	text-align: center;
	color:#71E548;
	font-weight: bolder;
}

h1 {

	font-family: barlow condensed, sans-serif;
	font-size: 40px;
	color:#E838A1;

}

p {
	font-family: barlow condensed, sans-serif;
}



